/*** ***/
/*** * ***/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #e9efff;
  background-color: #10151c;
  min-height: 100vh;
}

::selection {
  background-color: rgba(38, 99, 255, 0.8);
  color: #e9efff;
}

::-webkit-scrollbar {
  width: 6px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(38, 99, 255, 0.5);
  width: 100px;
}

/*** THESE ARE REUABLE COMPONENTS ALL ***/
.heading-primary,
.heading-secondary {
  color: #e9efff;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  letter-spacing: 0.95px;
  margin-bottom: 3.2rem;
  line-height: 1.3;
  width: 75%;
}
.heading-primary span {
  color: #2663ff;
}

.subheading {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #7e8597;
  margin-bottom: 1.6rem;
}

.heading-secondary {
  font-size: 4.4rem;
  margin-bottom: 9.6rem;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--works {
  column-gap: 3.2rem;
  row-gap: 4.8rem;
}

.center-text {
  text-align: center;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  padding: 1.2rem 2.4rem;
  border-radius: 0.6rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}

.btn--full,
.btn--full:link,
.btn--full:visited {
  color: #fff;
  background-color: #2663ff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #2259e6;
}

.btn--nav:link,
.btn--nav:visited {
  padding: 0.8rem 1.6rem;
}

/*** HEADER ***/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9.6rem;
  padding: 0 6.4rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.logo img {
  height: 3.2rem;
}
.logo span {
  font-size: 1.8rem;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}
.nav-link:link, .nav-link:visited {
  font-size: 1.8rem;
  text-decoration: none;
  color: #fff;
}

/*** HERO ***/
.section-hero {
  padding: 9.6rem 0;
}

.hero-description {
  font-size: 2rem;
  color: #7e8597;
  width: 75ch;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

/*** PORTFOLIO ***/
.section-portfolio {
  padding: 9.6rem 0;
}

.work__img {
  overflow: hidden;
  margin-bottom: 1.6rem;
}
.work__img img {
  width: 100%;
  transition: all 0.3s;
}
.work__img img:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.work__title {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 0.4rem;
}
.work__info {
  font-size: 1.4rem;
  color: #7e8597;
}

/*** CONTACT SECTION ***/
.section-contact {
  padding: 6.4rem 0 9.6rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 6.4rem;
  border: 2px solid #133280;
  border-radius: 11px;
  box-shadow: 0 3.6rem 6.4rem rgba(19, 50, 128, 0.1);
}
.cta__heading {
  font-size: 6.2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.75px;
}
.cta__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2.4rem;
  column-gap: 3.2rem;
  color: rgba(233, 239, 255, 0.75);
}
.cta__form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.cta div:nth-child(3) {
  grid-column: 1/-1;
  min-height: 4.8rem;
}
.cta div:nth-child(3) textarea {
  height: 16rem;
}
.cta input,
.cta textarea {
  width: 100%;
  padding: 1.2rem;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-size: 1.6rem;
  color: #e9efff;
  background-color: rgba(233, 239, 255, 0.1);
  transition: all 0.3s;
  box-shadow: 0 1px 2px #0000001a;
}
.cta input::placeholder,
.cta textarea::placeholder {
  color: rgba(233, 239, 255, 0.8);
}
.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.6rem rgba(212, 224, 255, 0.5);
}

/*** FOOTER ***/
.footer {
  padding: 6.4rem 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.footer__container {
  display: flex;
  justify-content: space-between;
}
.footer__logo {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  text-decoration: none;
  color: #e9efff;
}
.footer__logo img {
  height: 3.2rem;
}
.footer__logo span {
  font-size: 1.8rem;
}
.footer__social-icons {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}
.footer__social-icon:link, .footer__social-icon:visited {
  text-decoration: none;
  color: #e9efff;
  transition: all 0.3s;
}
.footer__social-icon:hover, .footer__social-icon:active {
  color: #2663ff;
}
.footer__social-icon ion-icon {
  font-size: 2.4rem;
}

/*
### Font sizes
- 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
### Spacing system
- 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/*# sourceMappingURL=style.css.map */
