/*** ***/
$bg-color: #10151c;
$sh-color: #7e8597;

$color-white: #fff;
$color-main: #2663ff;
$color-main-t1: #2259e6;

/*** * ***/
// BASE STYLING
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1;
  color: #fff;
  background-color: $bg-color;

  // test
  min-height: 100vh;
}
