/*** ***/
$bg-color: #10151c;
$sh-color: #7e8597;

$color-white: #fff;
$color-primary: #2663ff;
$color-secondary: #2259e6;

$color-text-primary: #e9efff;

/*** * ***/
// BASE STYLING
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: $color-text-primary;
  background-color: $bg-color;

  // test
  min-height: 100vh;
}

// other but necessary
::selection {
  background-color: rgba($color-primary, 0.8);
  color: $color-text-primary;
}
