/*** HEADER ***/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9.6rem;
  // maybe change it to 4.8 later
  padding: 0 6.4rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  img {
    height: 3.2rem;
  }

  span {
    font-size: 1.8rem;
  }
}

.nav {
  &-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4.8rem;
  }

  &-link:link,
  &-link:visited {
    font-size: 1.8rem;
    text-decoration: none;
    color: $color-white;
  }
}

/*** HERO ***/
.section-hero {
  padding: 9.6rem 0;
}

.hero-subheading {
  color: $sh-color;
  font-size: 2.2rem;
  width: 30ch;
  margin-bottom: 4.8rem;
}

/*** PORTFOLIO ***/
.section-portfolio {
  padding: 9.6rem 0;
}

// work
.work {
  &__img {
    overflow: hidden;
    margin-bottom: 1.6rem;

    img {
      width: 100%;
      transition: all 0.3s;
    }

    img:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
  }

  &__title {
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 0.4rem;
  }

  &__info {
    font-size: 1.4rem;
    color: $sh-color;
  }
}



/*** CONTACT SECTION ***/
.section-contact {
  padding: 6.4rem 0 9.6rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 6.4rem;
  border: 2px solid #133280;
  border-radius: 11px;
  box-shadow: 0 3.6rem 6.4rem rgba(#133280, 0.1);

  &__heading {
    font-size: 6.2rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.75px;
  }

  // form
  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2.4rem;
    column-gap: 3.2rem;
    color: rgba($color-text-primary, 0.75);

    label {
      display: block;
      font-size: 1.6rem;
      font-weight: 500;
      margin-bottom: 1.2rem;
    }
  }

  div:nth-child(3) {
    grid-column: 1 / -1;
    min-height: 4.8rem;

    textarea {
      height: 16rem;
    }
  }

  input,
  textarea {
    width: 100%;
    padding: 1.2rem;
    border: none;
    border-radius: 4px;
    font-family: inherit;
    font-size: 1.6rem;
    color: $color-text-primary;
    background-color: rgba($color-text-primary, 0.1);
    transition: all 0.3s;
    box-shadow: 0 1px 2px #0000001a;
  }

  input::placeholder,
  textarea::placeholder {
    color: rgba($color-text-primary, 0.8);
  }

  *:focus {
    outline: none;
    box-shadow: 0 0 0 0.6rem rgba(#d4e0ff, 0.5);
  }
}

/*** FOOTER ***/
.footer {
  // maybe increate it later
  padding: 6.4rem 0;

  border-top: 1px solid rgba(255, 255, 255, 0.1);

  &__container {
    display: flex;
    justify-content: space-between;
  }


  &__logo {
    display: flex;
    align-items: center;
    gap: 1.2rem;

    text-decoration: none;
    color: $color-text-primary;

    img {
      height: 3.2rem;
    }

    span {
      font-size: 1.8rem;
    }
  }

  &__social-icons {
    list-style: none;
    display: flex;
    gap: 2.4rem;
  }

  &__social-icon:link,
  &__social-icon:visited {
    text-decoration: none;
    color: $color-text-primary;
    transition: all 0.3s;
  }

  &__social-icon:hover,
  &__social-icon:active {
    color: $color-primary;
  }

  &__social-icon ion-icon {
    font-size: 2.4rem;
  }
}