/*** HEADER ***/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 9.6rem;
  // maybe change it to 4.8 later
  padding: 0 6.4rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  img {
    height: 3.2rem;
  }

  span {
    font-size: 1.8rem;
  }
}

.nav {
  &-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4.8rem;
  }

  &-link:link,
  &-link:visited {
    font-size: 1.8rem;
    text-decoration: none;
    color: $color-white;
  }
}

/*** HERO ***/
.section-hero {
  padding: 9.6rem 0;
}

.hero-description {
  font-size: 2rem;
  color: $sh-color;
  width: 75ch;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

/*** PORTFOLIO ***/
.section-portfolio {
  padding: 9.6rem 0;
}

// work
.project {
  &:hover {
    .project__img {
      transform: scale(1.05);
    }
  }

  &__img {
    overflow: hidden;
    margin-bottom: 1.6rem;
    box-shadow: 0 0 10px 5px rgba(#000000, 0.1);
    border: 1px solid rgba($color-primary, 0.5);
    transition: all 0.3s;
    border-radius: 4px;

    img {
      width: 100%;
      height: 100%;
      transition: all 0.3s;
    }
  }

  &__title {
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 1.6rem;
  }

  &__tags {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.8rem;
    margin-bottom: 1.2rem;
  }

  &__tag {
    font-size: 1.4rem;
    font-weight: 500;
    color: $color-primary;
    border-radius: 4px;
    padding: 0.6rem 1.2rem;
    background-color: rgba($color-primary, 0.1);
    transition: all 0.3s;

    &:hover {
      // background-color: $color-primary;
      // color: $color-white;
    }

    &--html {
      color: #f97316;
      background-color: rgba(#f97316, 0.1);
    }

    &--css {
      color: #0ea5e9;
      background-color: rgba(#0ea5e9, 0.1);
    }

    &--sass {
      color: #c69;
      background-color: rgba(#c69, 0.1);
    }

    &--javascript {
      color: #eab308;
      background-color: rgba(#eab308, 0.1);
    }

    &--nodejs {
      color: #84cc16;
      background-color: rgba(#84cc16, 0.1);
    }

    &--react {
      color: #61dafb;
      background-color: rgba(#61dafb, 0.1);
    }

    &--express {
      color: #f43f5e;
      background-color: rgba(#f43f5e, 0.1);
    }

    &--mongodb {
      color: #22c55e;
      background-color: rgba(#22c55e, 0.1);
    }
  }

  &__info {
    font-size: 1.4rem;
    color: $sh-color;
  }
}

/*** CONTACT SECTION ***/
.section-contact {
  padding: 12.8rem 0 14rem 0;
  background-image: url('../img/contact.jpg');
}

.cta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 6.4rem;
  border: 2px solid #133280;
  border-radius: 11px;
  box-shadow: 0 3.6rem 6.4rem rgba(#133280, 0.1);
  background-color: #10151c9e;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);

  &__heading {
    font-size: 6.2rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.75px;
  }

  // form
  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2.4rem;
    column-gap: 3.2rem;
    color: rgba($color-text-primary, 0.75);

    label {
      display: block;
      font-size: 1.6rem;
      font-weight: 500;
      margin-bottom: 1.2rem;
    }
  }

  div:nth-child(3) {
    grid-column: 1 / -1;
    min-height: 4.8rem;

    textarea {
      height: 16rem;
    }
  }

  input,
  textarea {
    width: 100%;
    padding: 1.2rem;
    border: none;
    border-radius: 4px;
    font-family: inherit;
    font-size: 1.6rem;
    color: $color-text-primary;
    background-color: rgba($color-text-primary, 0.1);
    transition: all 0.3s;
    box-shadow: 0 1px 2px #0000001a;
  }

  input::placeholder,
  textarea::placeholder {
    color: rgba($color-text-primary, 0.8);
  }

  *:focus {
    outline: none;
    box-shadow: 0 0 0 0.6rem rgba(#d4e0ff, 0.5);
  }
}

/*** FOOTER ***/
.footer {
  // maybe increate it later
  padding: 6.4rem 0;

  border-top: 1px solid rgba(255, 255, 255, 0.1);

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 1.2rem;

    text-decoration: none;
    color: $color-text-primary;

    img {
      height: 3.2rem;
    }

    span {
      font-size: 1.8rem;
    }
  }

  &__social-icons {
    list-style: none;
    display: flex;
    gap: 2.4rem;
  }

  &__social-icon:link,
  &__social-icon:visited {
    text-decoration: none;
    color: $color-text-primary;
    transition: all 0.3s;
  }

  &__social-icon:hover,
  &__social-icon:active {
    color: $color-primary;
  }

  &__social-icon ion-icon {
    font-size: 2.4rem;
  }
}
